@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
@import "sass/mixins";
body {
    font-family: "Roboto", sans-serif;
}

.carousel-cell {
    display: flex;
    width: 100%;
    /* full width */
    height: 50vh;
    /* height of carousel */
    min-height: 250px;
    margin-right: 10px;
    background-position: center;
    background-size: cover;
    align-items: flex-end;
}

.container {
    position: relative;
    bottom: 20px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    @include breakpoint (md) {
        bottom: 50px;
        max-width: 1200px;

    }
}

.text-wrapper {
    margin: 0 15px;
    color: white;
    text-shadow: 1px 1px 4px #000;
    
    @include breakpoint (md) {
        margin: 0 35px;
    }
    @include breakpoint(xl) {
        margin: 0;
    }
    p {
        margin-left: 45px;
    }
}

.button {
    position: absolute;
    z-index: 1;
    top: 30px;
    right: 30px;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    background-color: rgba($color: #c7ecee, $alpha: 0.8);
    box-shadow: none;
    &:focus {
        box-shadow: none;
    }
}

.progress-bar {
    width: 0;
    height: 20px;
    background: #333;
}
